

nav {
  justify-content : space-between;
  align-items : center;
  padding: var(--base-padding);
  gap: 1em;
  position: fixed;
  width: 100%;
  backdrop-filter : blur(2px);
  z-index: 99;
}

.navbar {
  list-style-type: none;
  gap: .5em;
}

.navlinks__title {
  font-size : var(--fs-big);
}

.navbar__links img {
  min-width: 24px;
}

@media screen and (min-width: 800px){
  .navbar__links img {
    min-width: 48px;
  }

  .navbar {
    gap: 1.2em;
  }
}