* {
  margin     : 0;
  padding    : 0;
  box-sizing : border-box;
}

img {
  max-width : 100%;
  display   : block;
}

html, body {
  height : 100%;
}

:root {
  --font-primary : #333;
  --ff-primary   : "Merriweather", sans-serif;


  --fs-small     : clamp(14px, 2vw, 1.2rem);
  --fs-big       : clamp(24px, 6vw, 2.5rem);
  --base-padding : 36px;

}

.flex {
  display : flex;
}

html {
  scroll-behavior : smooth;
  background      : rgb(185, 185, 185);
  background      : linear-gradient(14deg, rgba(185, 185, 185, 1) 0%, rgba(255, 255, 255, 1) 100%);
  color           : var(--font-primary);
  font-family     : var(--ff-primary);
}