* {
  margin     : 0;
  padding    : 0;
  box-sizing : border-box;
}

img {
  max-width : 100%;
  display   : block;
}

:root {
  --font-primary : #333;
  --ff-primary   : "Merriweather", sans-serif;


  --fs-small     : clamp(12px, 4vw, 1.3rem);
  --fs-big       : clamp(24px, 6vw, 2.5rem);
  --fs-bg-text : calc( clamp(16px, 4vw, 2.5rem) *2.5);
  --base-padding : 36px;

}

.flex {
  display : flex;
}

html {
  scroll-behavior : smooth;
  background      : #EEE;
  color           : var(--font-primary);
  font-family     : var(--ff-primary);
}

section {
  height: 100svh;
  padding: var(--base-padding);
  position: relative;
  overflow: hidden;
}

.background-text {
  font-size : var(--fs-bg-text);
  font-family : "Montserrat", sans-serif;
  opacity: 0.1;

  width: 100%;

  position: absolute;
  left: -110%;
}